java/javaee-ejb/livraria-wsclient/src/br/com/caelum/livraria/LivrariaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.livraria.caelum.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LivrariaWSService" targetNamespace="http://webservice.livraria.caelum.com.br/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.livraria.caelum.com.br/" elementFormDefault="unqualified" targetNamespace="http://webservice.livraria.caelum.com.br/" version="1.0">

  <xs:element name="getLivrosPorTitulo" type="tns:getLivrosPorTitulo"/>

  <xs:element name="getLivrosPorTituloResponse" type="tns:getLivrosPorTituloResponse"/>

  <xs:complexType name="getLivrosPorTitulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLivrosPorTituloResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Livro" type="tns:livro"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="livro">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:autor"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getLivrosPorTitulo">
    <wsdl:part element="tns:getLivrosPorTitulo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLivrosPorTituloResponse">
    <wsdl:part element="tns:getLivrosPorTituloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LivrariaWS">
    <wsdl:operation name="getLivrosPorTitulo">
      <wsdl:input message="tns:getLivrosPorTitulo" name="getLivrosPorTitulo">
    </wsdl:input>
      <wsdl:output message="tns:getLivrosPorTituloResponse" name="getLivrosPorTituloResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LivrariaWSServiceSoapBinding" type="tns:LivrariaWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLivrosPorTitulo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLivrosPorTitulo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLivrosPorTituloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivrariaWSService">
    <wsdl:port binding="tns:LivrariaWSServiceSoapBinding" name="LivrariaWSPort">
      <soap:address location="http://localhost:8080/livraria/LivrariaWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>